.create {

  text-align: center;

  h1 {
    font-size:28px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-weight: 700;
  }

  .advice {
    font-size: 16px;
    font-style: italic;
    color: percent-color(20);
    margin-bottom: 30px;
  }

  textarea.home__question {
    font-size: 16px;
    height: 100px;
  }

  .options {
    margin-top: 16px;
  }

  footer .btn {
    width: 100%;
  }

}
