.create {

  text-align: center;

  .advice {
    font-size: 18px;
    font-style: italic;
    color: percent-color(20);
    margin-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 0 30px;
  }

  textarea.home__question {
    font-size: 16px;
    height: 100px;
  }

  .options {
    margin-top: 16px;
  }

  footer .btn {
    display: inline-block;
    margin: 0 0 20px 0;
    width: calc(100% - 40px);
  }

}
