html, body {
  position: relative;
  // display: inline-block;
  // overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: $black;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  color: black;
  &:hover {
    text-decoration: none;
  }
  &--green {
    color: $green;
  }
}

/* ---------------- */

.app {

  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  .stream-poll {
    overflow: auto;

    &__waiting {
      p {
        margin-bottom: 50px;
        &:last-of-type {
          margin: 0;
        }
      }
      .twitch-signin {
        display: block;
        margin: 10px 0;
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &__leftBar {
    text-align: center;
    width: 50px;
    height: 100%;
    background-color: percent-color(10);
    padding: 10px;
  }

  &__widgets {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    // padding: 4px;
  }

}
