.create {

  text-align: center;

  .advice {
    font-size: 16px;
    margin-bottom: 20px;
    // font-style: italic;
    color: percent-color(20)
  }

  textarea.home__question {
    font-size: 16px;
  }

  footer .btn {
    display: inline-block;
    margin: 0 0 20px 0;
    width: calc(100% - 40px);
  }

}
