.stream-poll > header {
  height: 60px;
  background-color: #333333;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 17px;
  }
}
