.home {


  &__content {
    text-align: center;
    width: 100%;
  }

  &__cols {
    display: inline-block;
    margin-top: 100px;
    // position: absolute;
    // top: 50%;
    // left: 0;
    // right: 0;
    // transform: translate(0, -50%);
  }

  &__col {
    float: left;
    h2 {
      margin-bottom: 15px;
      font-size: 25px;
    }
    p {
      margin-bottom: 15px;
    }
  }

  &__col + &__col {
    margin-left: 100px;
  }

}
