.home {

  header {
    height: 50%;
    background-color: $black;
    text-align: center;
    position: relative;
    overflow: hidden;

    a.logo {
      display: inline-block;
      height: 120px;
      width: 100%;
      background-image: url("../images/logo-streampoll.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 23px;
    }

    .home__header__screen {
      position: absolute;
      top: 120px;
      bottom: -20%;
      left: 0;
      right: 0;
      background-image: url('../images/screen.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  &__content {
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
  }

  &__cols {
    display: inline-block;
    height: 100%;

    &__container {
      position: relative;
       top: 50%;
       transform: translateY(-50%);
    }
  }

  &__col {
    float: left;
    h2 {
      margin-bottom: 15px;
      font-size: 25px;
    }
    p {
      margin-bottom: 15px;
    }
  }

  &__col + &__col {
    margin-left: 100px;
  }

}
