.home {

  header {
    height: 65%;
    background-color: $black;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a.logo {
      display: inline-block;
      min-height: 120px;
      width: 100%;
      background-image: url("../images/logo-streampoll.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 33px;
      text-decoration: none;

      > span {
        background-color: #DC1719;
        padding: 3px 6px 2px;
        color: white;
        font-size: 13px;
        border-radius: 2px;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -19px;
        transform: translateX(160px);
      }
    }

    > p {
      font-size: 23px;
      color: white;
      font-weight: 300;
      min-height: 70px;
      padding: 0 30px;
    }

    // .home__header__screen {
    //   position: absolute;
    //   top: 120px;
    //   bottom: -20%;
    //   left: 0;
    //   right: 0;
    //   background-image: url('../images/screen.jpg');
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center bottom;
    // }

    .home__header__results {

      position: relative;
      min-height: 440px;

      .widget {
        width: 400px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -200px;
        z-index: 1;

        transition: all 500ms ease;
      }

      .widget-appear {
        opacity: 0.01;
        transform: translateY(100px);
        // transition: all 500ms ease;
      }
      .widget-appear.widget-appear-active {
        transform: translateY(0);
        opacity: 1;
      }

      .widget-enter {
        z-index: 2;
        opacity: 0.01;
        // transform: translateY(100%);
      }
      .widget-enter.widget-enter-active {
        z-index: 2;
        opacity: 1;
        // transform: translateY(0);
        // transition: all 600ms ease;
      }

      .widget-leave {
        z-index: 1;
        opacity: 1;
        // transform: translateY(0);
      }
      .widget-leave.widget-leave-active {
        z-index: 1;
        opacity: 0.01;
        // transform: translateY(100%);
        // transition: all 500ms ease;
      }

    }


  }

  &__content {
    text-align: center;
    width: 100%;
    height: 35%;
    position: relative;
  }

  &__cols {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    // &__container {
    //   position: relative;
    //    top: 50%;
    //    transform: translateY(-50%);
    // }
  }

  &__col {

    position: relative;

    &__content {

    }

    flex: 1;
    h2 {
      margin-bottom: 15px;
      font-size: 25px;
    }
    p {
      margin-bottom: 15px;
      padding: 0 20px;
    }
  }

  // &__col + &__col {
  //   margin-left: 100px;
  // }

}
