.poll {

  footer {

    margin: 0 0 20px 0;

    .btn--green {
      margin-right: 10px;
      width: calc(60% - 30px);
    }

    .btn--black {
      margin-left: 10px;
      width: calc(40% - 30px);
    }

  }

}
